.container-content {
    width: 50%;
    text-align: center;
}

.container-content h1 {
    text-align: center;
    font-size: 62px;
    font-weight: 900;
    max-width: 900px;
    line-height: 120%;
    letter-spacing: -0.90px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container-content p {
    font-size: 22px;
    text-align: center;
    margin-top: 60px;
    font-weight: 500;
    letter-spacing: 0.30px;
    line-height: 140%;
    color: #373737;
}

.tech-links {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 20px;
    width: 100%
}

.tech-links ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.tech-links li {
    font-size: 18px;
    padding: 5px;
    gap: 5px;
}

.tech-links ion-icon {
    font-size: 24px;
}

.social-link {
    display: flex;
    align-items: center;
    border: 1px solid #3737375b;
    border-radius: 20px;
    padding: 5px 20px !important;
}

.social-link a {
    text-decoration: none;
    color: #373737;
}

.social-link a:hover {
    color: dodgerblue;
    text-decoration: none;
}

.social-link:hover {
    border-color: dodgerblue;
    color: dodgerblue;
    cursor: pointer;
}

span {
    background-color: dodgerblue;
    color: #fff;
    padding: 1px 50px;
    box-shadow: 1px 1px 7px #4a4a4abf;
    border-top-left-radius: 55px;
    border-bottom-right-radius: 55px;
    position: relative;
    top: 20px;
}