.container-content {
    width: 60%;
    text-align: center;
    padding-bottom: 50px;
}

.container-content h1 {
    text-align: center;
    font-size: 62px;
    font-weight: 900;
    padding: 0px 4%;
    line-height: 120%;
    letter-spacing: -0.90px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container-content p {
    font-size: 22px;
    text-align: center;
    margin-top: 60px;
    font-weight: 500;
    letter-spacing: 0.30px;
    line-height: 140%;
    color: #cfcfcf;
}

.tech-links {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 20px;
    width: 100%
}

.tech-links ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.tech-links li {
    font-size: 18px;
    padding: 5px;
    gap: 5px;
}

.tech-links ion-icon {
    font-size: 24px;
}

.social-link {
    display: flex;
    align-items: center;
    border: 1px solid #3737375b;
    border-radius: 20px;
    padding: 5px 20px !important;
}

.social-link a {
    text-decoration: none;
    color: #cfcfcf;
}

.social-link a:hover {
    color: #0860fb;
    text-decoration: none;
}

.social-link:hover {
    border-color: #0860fb;
    color: #0860fb;
    cursor: pointer;
}

span {
    background-color: #0860fb;
    color: #fff;
    padding: 1px 50px;
    box-shadow: 1px 1px 1px #0a0a0abf;
    border-top-left-radius: 55px;
    border-bottom-right-radius: 55px;
    position: relative;
    top: 11px;
    transition: 0.5s;
}

span:hover {
    transform: scale(1.05);
}

#name {
    margin-top: 40px;
    margin-bottom: 15px;
}

#title {
    margin: 20px 0px;
}

#down {
    margin-top: 22px;
}

.presentation {
    text-align: center;
    height: 60vh;
}

#office {
    width: 400px;
    border-radius: 10px;
}

#with {
    margin: 0;
    padding: 0px 11px;
}

#prj {
    padding-top: 40px;
}

@keyframes deslizar {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

#prj {
    animation: deslizar is ease-in;
}