nav {
    padding: 12px 20px;
    box-shadow: 1px 1px 4px #ddd;
    position: fixed;
    width: -webkit-fill-available;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    position: relative;
}

nav li {
    margin: 0px 10px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

nav ion-icon {
    font-size: 24px;
}

#logo {
    position: absolute;
    left: 10px;
    color: dodgerblue;
}

#side-links {
    position: absolute;
    right: 10px;
}

#src-field input {
    font-size: 17px;
    padding: 5px 10px;
    padding-left: 15px;
    outline: none;
    color: #4d4d4d;
    font-weight: 600;
    border-radius: 20px;
    border: none;
    background-color: #e0e0e05c;
    border: 1px solid #c8c8c8;
    width: 500px;
}

#src-field input::placeholder {
    color: #4d4d4dd5;
    font-weight: 600;
}